#wrapper {
	margin: auto;
	width: 1150px;
	border: 0;
	background-color: #E0FFFF;
}

#header {
	height: 42px;
	background-color: #20B2AA;
	/**border-bottom-width: 13px;
	border-bottom-style: solid;
	border-bottom-color: #20B2AA;
	border-top-width: 13px;
	border-top-style: solid;
	border-top-color: #20B2AA;
	**/
}

#logo {
	float: center;
	height: 50px;
	width: 50px;	
	border: 0;
}

#logoname {
	float:center;
	width:250px;
	font:1.5em/100% 'Verdana';
	font-weight: bold;

}

#searchmenu {
	float: right;
	height: 25px;
	width:230px;
	margin:10px 25px auto;
	border: 0;
}

#inner {
	margin: 10px 0;
}

#menu {
	float: left;
	padding: 0;
}

#menu a:link, #menu a:visited, #menu a:active {
	padding-left: 0px;
	text-decoration: none; 
}

#menu a {
	padding: 14px 5px 8px 0px;
	background: #20B2AA no-repeat left center;
	margin: 0px 0px 1px;
	color: #E0FFFF; 
}

#menu a:hover { /*efek*/
	background: #F5FFFA no-repeat left center;
	color: black;
}

#menu ul{
	list-style: none;
}

#menu li{
	display: inline;
}

#menu li:last-child{
	border-right: none;
}

#sidebar {
	float: left;
	width: 280px;
	height: 528px;
	border: 1px solid #E0FFFF;
	background: #E0FFFF;
}

#contentbox {
	float: left;
	width: 800px;
	height: 700px;

}

#top{
	height: 150px;
	border: 0;
}

#content {
	float: left;
	width: 500px;
	height: 500px;
	margin-left: 10px;
	margin-right: 10px;
}

#morelinks {
	float: left;
	width: 250px;
	height: 150px;
	margin-top: 10px;
	margin-left: 20px;
	border: 1px solid white;
	background-color:#20B2AA;
}

#morelinks2 {
	float: left;
	width: 500px;
	height: 500px;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid gray;
	background-color:white;
}

#morelinks3 {
	float: right;
	width: 250px;
	height: 300px;
	margin-top: 10px;
	margin-right: 5px;
	border: 1px solid gray;
	background-color:red;
}

#footer {
	clear: both;
	height: 50px;
	border: 0;
	background-color: #20B2AA;
	border-bottom-width: 13px;
	border-bottom-style: solid;
	border-bottom-color: #E0FFFF;
}

#Credits {
	float:left;
	width:756px;
	margin-top:20px;
}


